# Environment Variables for E-Hisab (ই-হিসাব)

# MongoDB Atlas Connection String (Render / Local VS Code)
MONGODB_URI="mongodb+srv://<username>:<password>@cluster0.xxx.mongodb.net/e_hisab?retryWrites=true&w=majority"

# Port (Default: 3000)
PORT=3000
